In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("../data/stops.csv")
df

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"
...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times"
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times

In [17]:
clean_df = df.copy()

In [18]:
color_mapping = {
    "A": "#0039a6",
    "C": "#0039a6",
    "E": "#0039a6",
    "B": "#ff6319",
    "D": "#ff6319",
    "F": "#ff6319",
    "M": "#ff6319",
    "G": "#6cbe45",
    "L": "#a7a9ac",
    "J": "#996633",
    "Z": "#996633",
    "N": "#fccc0a",
    "Q": "#fccc0a",
    "R": "#fccc0a",
    "W": "#fccc0a",
    "1": "#ee352e",
    "2": "#ee352e",
    "3": "#ee352e",
    "4": "#00933c",
    "5": "#00933c",
    "6": "#00933c",
    "7": "#b933ad",
    "T": "#00add0",
    "S": "#808183",
}

In [19]:
divison_mapping = {
    "A": "B",
    "C": "B",
    "E": "B",
    "B": "B",
    "D": "B",
    "F": "B",
    "M": "B",
    "G": "B",
    "L": "B",
    "J": "B",
    "Z": "B",
    "N": "B",
    "Q": "B",
    "R": "B",
    "W": "B",
    "1": "A",
    "2": "A",
    "3": "A",
    "4": "A",
    "5": "A",
    "6": "A",
    "7": "A",
    "S": "S"
}

In [22]:
clean_df["temp"] = clean_df["the_geom"].apply(lambda x: x.split(" "))
clean_df["lat"] = clean_df["temp"].apply(lambda x: x[1].replace("(", ""))
clean_df["long"] = clean_df["temp"].apply(lambda x: x[2].replace(")", ""))
clean_df["color"] = clean_df["line"].apply(lambda x: color_mapping[x[0]])
clean_df["division"] = clean_df["line"].apply(lambda x: divison_mapping[x[0]])

clean_df.columns = clean_df.columns.str.lower()
clean_df[["name", "line", "notes", "lat", "long", "color", "division"]].to_csv("../data/stops.csv", index=False)